#backend dependencies
fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings
resend
itsdangerous
bcrypt==4.0.1
email-validator
slowapi
jinja2
python-multipart

#ml dependencies
mediapipe
opencv-python
numpy
tqdm
scikit-learn

#others
kaggle
tensorflow>=2.16.0,<3
